/* Reset some default styles for consistent rendering */
body, p, div {
    margin: 0;
    padding: 0;
}

body {
    background-image: url('./Goeshard.png');
    background-size: cover;
    background-position: center center;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    text-align: center;
    padding: 20px;
    color: #ffffff;
    width: 228px;
    height: 226px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.459), -2px -2px 4px rgba(0, 0, 0, 0.373), 2px -2px 4px rgba(0, 0, 0, 0.414), -2px 2px 4px rgba(0, 0, 0, 0.403);
}

#locationInput {
    width: 80%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

#searchButton {
    background-color: #0077b6;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}


.location {
    font-size: 24px;
    margin-bottom: 10px;
}

.temp {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 10px;
}

.temp sup {
    font-size: 24px;
    font-weight: normal;
}

.temp_feel_like {
    font-size: 16px;
    margin-bottom: 10px;
}

#icon {
    max-width: 100px;
    margin: 0 auto;
    display: block;
}

#text+desc {
    font-size: 18px;
    margin-top: 10px;
}
